<%- include("partials/header") -%>
 <div class="container bg">
   <div class="box" class="heading">
     <h1>TODAY</h1>
    <h4><%= toDate %> </h4>
    <h4><%= toTime %> </h4>
</div>
      <div class="row row-margin1">
    <div class="col-lg-4">
    <p class="bold">Tempareture <img class="icons" src="https://cdn-icons-png.flaticon.com/512/4158/4158502.png" alt=""></p>
      <h1>Data</h1>
    </div>
    <div class="col-lg-4">
    <p class="bold">Humidity <img class="icons" src="https://cdn-icons-png.flaticon.com/512/219/219816.png" alt=""></p>
        <h1>Data</h1>
    </div>
    <div class="col-lg-4">
     <img src="https://cdn-icons-png.flaticon.com/512/1779/1779940.png" alt="not loaded">
    </div>
  </div>
  <div class="row  row-margin2">
    <div class="col-lg-4">
    <p class="bold">Soil Moisture <img class="icons" src="https://cdn-icons-png.flaticon.com/512/219/219816.png" alt=""></p>
      <h1>Data</h1>
    </div>
    <div class="col-lg-4">
      <p class="bold">Pump Status <img class="icons" src="https://cdn-icons-png.flaticon.com/512/25/25009.png" alt=""></p>
        <h1>Data</h1>
    </div>

  </div>

 </div>

<%- include("partials/footer") -%>
